VITE_API_HOST={VITE_API_HOST}

VITE_CASHEA_PUBLIC_KEY={VITE_CASHEA_PUBLIC_KEY}
VITE_CASHEA_EXTERNAL_CLIENT_ID={VITE_CASHEA_EXTERNAL_CLIENT_ID}
VITE_CASHEA_STORE_ID={VITE_CASHEA_STORE_ID}
VITE_CASHEA_STORE_NAME={VITE_CASHEA_STORE_NAME}

VITE_DIRECT_DEBIT_ACCOUNT_DISCOUNT_PORCENT={VITE_DIRECT_DEBIT_ACCOUNT_DISCOUNT_PORCENT}